#--------------------------------------------------
# Répertoire : /
#--------------------------------------------------

# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

# Activation du module de réécriture d'URL :
RewriteEngine on


#-----------------------------------
# ROUTES
#-----------------------------------
#ROUTE DES PAGES
    #PATTERN: page/id
    #URL: ?page=xx
    RewriteRule ^page\/([1-9][0-9]*)$ index.php?page=$1 [L]

    #PATTERN: projects/page/id
    #URL: ?page=xx
    RewriteRule ^projects\/page\/([1-9][0-9]*)$ index.php?page=$1 [L]

#ROUTE DES PROJETS
    #AFFICHER TOUT LES PROJETS (page d'acceuil)
    #PATTERN: projects
    #URL: ?project
    RewriteRule ^projects$ index.php?projects [L]

    #AFFICHER LES DETAILS D'UN PROJET
    #PATTERN: projects/id/slug
    #URL: ?project=xx
    RewriteRule ^projects\/([1-9][0-9]*)\/[a-z0-9]([a-z0-9\-]*[a-z0-9])*$ index.php?projects=show&id=$1 [L]

    #SUPPRIMER UN PROJET
    #PATTERN: projects/delete/id/slug
    #URL: ?project=delete&id=xx
    RewriteRule ^projects\/delete\/([1-9][0-9]*)\/[a-z0-9]([a-z0-9\-]*[a-z0-9])*$ index.php?projects=delete&id=$1 [L]

    #AJOUTER UN PROJET (formulaire)
    #PATTERN: projects/add/form
    #URL: ?project=add
    RewriteRule ^projects\/add\/form$ index.php?projects=add [L]

    #AJOUTER UN PROJET (insertion)
    #PATTERN: projects/add/insert
    #URL: ?project=insert
    RewriteRule ^projects\/add\/insert$ index.php?projects=insert [L]

    #MODIFIER UN PROJET (formulaire)
    #PATTERN: /projects/id/slug/edit/form
    #URL: ?project=edit
    RewriteRule ^projects\/([1-9][0-9]*)\/[a-z0-9]([a-z0-9\-]*[a-z0-9])*\/edit\/form$ index.php?projects=edit&id=$1 [L]

    #MODIFIER UN PROJET (update)
    #PATTERN: /projects/id/slug/edit/update
    #URL: ?project=update
    RewriteRule ^projects\/([1-9][0-9]*)\/[a-z0-9]([a-z0-9\-]*[a-z0-9])*\/edit\/update$ index.php?projects=update&id=$1 [L]

#-----------------------------------
RewriteCond %{REQUEST_URI} !\.(js|css|jpg|gif|zip|png|pdf)$ [NC]